a, em, sup, h1, h2, h3, h4, h5, address, pre, input, textarea, button { font: inherit; font-style: inherit; font-weight: inherit; }
body, header, footer, article, div, input, textarea, button { position: relative; box-sizing: border-box; background: none; }
body, header, footer, article, div, h1, h2, h3, h4, h5, p, sup, ul, li, pre { margin: 0; padding: 0; border: 0; }
p span, span.line { white-space: nowrap; }
sup { font-size: 50%; line-height: 0; }
body { -webkit-text-size-adjust: none; text-size-adjust: none;}
a[href] { color: inherit; white-space: nowrap; }

/* Typography */

body { font: 21px/25px "Cochin", "Baskerville", "Palatino", "Constantia", serif; text-align: center; }
h1 { font: bold 55px/60px "Cochin", "Baskerville", "Constantia", "Palatino", serif; text-rendering: geometricPrecision; letter-spacing: -1px; }
h2 { font: bold 32px/25px "Cochin", "Baskerville", "Constantia", "Palatino", serif; text-rendering: geometricPrecision; }
h3 { font-size: 0; position: absolute; }
h4 { font: bold 32px/30px "Cochin", "Baskerville", "Constantia", "Palatino", serif; text-rendering: geometricPrecision; text-align: left; }
h5 { display: inline; }
body > header h2, #sponsors > h2, #program table td:first-child { font: 21px/30px "Cochin", "Baskerville", "Palatino", "Constantia", serif; text-transform: uppercase; letter-spacing: 6px; text-rendering: geometricPrecision; }
body > header h2 em { font-weight: bold; }
#summary, div.foreword em, p.afterword, article.proposal h2 { font-style:italic; }
#summary { font-size: 25px; line-height: 30px; }
article.new.proposal h2 { font-size: 21px; line-height: 25px; font-weight: normal; letter-spacing: 0; text-rendering: geometricPrecision;}
#sponsors div { font: 19px/25px "Avenir Next", "Calibri", sans-serif; }

/* Paint */

html { background: no-repeat linear-gradient(to bottom, hsl(65, 15%, 90%), hsl(0, 0%, 75%)); }
body { color: hsla(0, 0%, 0%, 0.75);  }
h1, strong, body > header em, body > div h2 { color: black; }
h5, article.new.proposal h2 { color: hsla(0, 0%, 0%, 0.33); }
body > header { background: top center no-repeat url(CHAUDIEREFALLS.jpg) black; }
body > header, #whereabouts, #registration, #contact { text-shadow: 0px 1px 0px hsla(0, 0%, 100%, 0.5);  }
#summary { color: hsla(0, 0%, 0%, 0.75); }

/* Layout */

body > header { padding: 75px 50px; height: 1050px; max-width: 1800px; margin: auto; }

@media screen and (min-height: 1100px) and (min-width: 1800px) {
  body > header { margin-top: 1.6%; }
}

body > header #summary {
  position: absolute; top: 215px; left: 0; right: 0;
}

body > header #about_the_background_image {
  position: absolute; left: 0px; bottom: 0px; padding: 10px;
  text-align: left;
  color: hsl(65, 15%, 90%);
  text-shadow: 0px 1px 2px black;
  font-size: 15px;
  line-height: 20px;
  transition: all 222ms ease-out;
  opacity: 0.5;
}
body > header #about_the_background_image:hover {
  opacity: 1;
}
body > header #about_the_background_image a {
  text-decoration: none;
}





#registration {
  margin: auto;
  max-width: 1800px;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.33);
  padding: 49px 0 50px;
  box-sizing: content-box;
  height: 150px;
}

#registration p {
  position: absolute;
  right: 50%;
  margin-right: 75px;
  text-align: right;
  bottom: 75px;
  width: 500px;
}

#registration p:last-child {
  position: absolute;
  text-align: left;
  left: 50%;
  bottom: 75px;
  margin-left: 75px;
  width: 500px;
}

#registration .price {
  position: absolute;
  left: 50%; bottom: 45px;
  margin-left: -55px;
  box-sizing: border-box;
  border: 4px double hsla(0, 0%, 0%, 0.66);
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 100px;
  line-height: 105px;
  text-rendering: geometricPrecision;
}

#registration .dollar.symbol {
  margin-right: 1px;
  position: relative;
  top: -20px;
  color: black;
}
#registration .dollar.digits {
  font-size: 55px;
  letter-spacing: -6px;
  font-weight: bold;
  color: black;
}
#registration .cents {
  position: relative;
  margin-left: -2px;
  margin-right: -3px;
  top: -20px;
  color: black;
}

#registration p a {
  color: black;
}
#registration p em {
  font-style: italic;
}

#registration .price:hover  {
  background: hsl(205, 66%, 25%);
  border: 4px solid hsla(0, 0%, 0%, 0.33);
  color: hsla(0, 0%, 100%, 0.95);
}
#registration .price:hover * {
  color: hsla(0, 0%, 100%, 0.95);
}

#whereabouts {
  max-width: 1250px;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.33);
  padding: 49px 0 50px;
  margin: auto;
}

#whereabouts p { margin: 25px auto; max-width: 1000px; }
#whereabouts img.map { width: 500px; height: 500px; border-radius: 300px; display:block; margin:auto; border: 1px solid hsla(0, 0%, 0%, 0.5); background: hsla(0, 0%, 100%, 1); opacity: 0.8;}
#whereabouts img.map { opacity: 1;
  box-sizing: border-box;
}

#whereabouts div.destination div.outbound {
  margin-top: 12px;
}

#whereabouts div.destination {
  padding-top: 238px;
  position: absolute;
  left: 50%;
  right: 25px;
  margin-left: 275px;
  bottom: 50px;
  height: 500px;
  text-align: left;
}

#whereabouts div.destination img.photo {
  position: absolute;
  top: 10px;
  left: 0;
  height: 210px;
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  box-sizing: border-box;
}

#whereabouts div.destination > .line {
  display: block;
  border-top: 2px solid hsl(350, 100%, 60%);
  left: -275px;
  top: 249px;
  padding-left: 270px;
  position: absolute;
  box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.5);
}

#contact {
  margin: auto;
  max-width: 1800px;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.33);
  padding: 49px 0 50px;
}
#contact p {
  max-width: 1025px;
  text-align: center;
  margin: 25px auto;
}

#sponsors {
  padding: 100px 0px 0;
  font: 19px/25px "AvenirNext-Regular", sans-serif;
}

#sponsors h2 {
  padding: 0 0px 24px;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.33);
  margin: auto;
  opacity: 0.66;
}

#OpenConcept { padding: 155px 50px 50px; text-align: center; color: hsla(0, 0%, 0%, 0.66); background: hsl(195, 10%, 90%); }
#OpenConcept img { position: absolute; left: 50%; top: 40px; margin-left: -100px; height: 100px; }

#NNNN_AT_CARLETON { background: black; color: hsl(0, 0%, 50%); padding: 50px; }
#NNNN_AT_CARLETON img { height: 120px; margin-bottom: 5px; }

#program {
  margin: auto;
  max-width: 1250px;
  border-top: 1px dotted hsla(0, 0%, 0%, 0.33);
  padding: 49px 0 25px;
}

#program h2 {
  position: absolute;
  left: 0px;
  top: 75px;
}

#program table {
  max-width: 1200px;
  margin: 25px auto 0;
}

#program table td {
  width: 50%;
  vertical-align: top;
  padding: 0px 5px 25px;
}

#program table td:first-child {
  text-align: right;

}
#program table td:last-child {
  text-align: left;
}

#program table td:first-child,
#program .date {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: bold;
  color: hsla(195, 100%, 15%, 0.75);
  font-size:19px;
  padding-top: 1px;
}

#program .date {
  text-align: left;
  position: absolute; left: 0px; top: 150px;
}


#proposals {
  border: none;
  margin: 0;
  margin-top: -100px;
  overflow: visible;
}

/*#proposals > h2 {
  max-width: 1800px;
  text-align: left;
  margin: 150px auto 0;
  padding: 0 800px 0 50px;
}*/
#proposals > div.foreword {
  max-width: 1800px;
  text-align: left;
  margin: auto;
  padding: 150px 50px 0 50px;
  z-index: 1;
}
#proposals > div.foreword p {
  margin-top: 25px;
  width: 36%;
  max-width: 575px;
}

#proposals_container {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  overflow: auto;
  margin-top: -300px;
}
#proposals_container div.surface {
  width: 9999px;
  height: 750px;
  overflow: hidden;
  padding: 0px 18%;
  box-sizing: content-box;
  text-align: right;
}

article.proposal {
  background: hsl(0, 0%, 97%);
  outline: none;
  width: 700px;
  height: 700px;
  margin: 0 -175px;
  display: inline-block;
  vertical-align: top;
  font: 15px/20px Consolas;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.25);
  border: 1px solid hsla(0, 0%, 0%, 0.25);
  padding: 124px 44px 44px;
  text-align: left;
  transform: scale(0.5,0.5) translate(0px, 300px);
  z-index: 0;
  transition: all 222ms ease-out, z-index 1ms linear;
  cursor: default;
}

article.proposal.activated {
  background: white;
  transform: scale(1,1) translate(0px, 0px);
  z-index: 1;
  transition: all 222ms ease-out, z-index 1ms linear, background 1ms linear;
}
article.proposal:hover {
  background: white;
  transition: all 222ms ease-out, z-index 1ms linear, background 1ms linear;
}

article.proposal h2 {
  position: absolute;
  top: 25px;
}
article.proposal h4 {
  position: absolute;
  top: 50px;
  height: 60px;
}

article.proposal pre {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  padding: 100px 50px 50px;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  color: black;
}

article.new.proposal input,
article.proposal textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 0;
}

article.proposal input:not(:focus),
article.proposal textarea:not(:focus) {
  outline: 1px solid hsla(0, 0%, 0%, 0.1);
}

article.proposal label {
  padding: 5px;
}

#title_input {
  height: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  width: 100%;
}
#audience_input {
  min-height: 50px;
  margin-bottom: 25px;
}
#abstract_input {
  min-height: 275px;
  margin-bottom: 25px;
}
#biography_input {
  min-height: 100px;
}
