<footer id="sponsors">

  <h2 style="text-align: center;">A special thanks to:</h2>

<p><a href="https://carleton.ca/onleyinitiative/" class="a-sponsor">
      <img src="{{ "/images/dconley-Initiative.jpg" | prepend: site.baseurl }}" alt="David C. Onley Initiative for Employment and Enterprise Development" width="150" height="76">
  </a> </p>

  <p>
  
  <a href="http://carleton.ca/read/" class="a-sponsor">
      <img src="{{ "/images/read-initiative.jpg" | prepend: site.baseurl }}" alt="READ Initiative" width="150" height="76">
  </a> </p>

</footer>
