<footer id="sponsors">

  <h2 style="text-align: center;">Event Sponsors:</h2>
  <a href="http://www.ami.ca/">
      <img src="{{ "/images/ami_logo.gif" | prepend: site.baseurl }}" alt="AMI">
  </a>
  <a href="http://www.github.com/">
      <img src="{{ "/images/git_logo.png" | prepend: site.baseurl }}" alt="GitHub">
  </a>
  <a href="http://www.accessibilit.com/">
      <img src="{{ "/images/accessibil-IT_logo.gif" | prepend: site.baseurl }}" alt="Accessibil-IT">
  </a>
  <br />
  <a href="http://www.carleton.ca/1125/">
      <img src="{{ "/images/1125_logo.jpg" | prepend: site.baseurl }}" alt="1125@Carleton">
  </a>
  <a href="http://openconcept.ca/">
      <img src="{{ "/images/oc_logo.png" | prepend: site.baseurl }}" alt="OpenConcept Consulting Inc.">
  </a>
  <a href="http://thegenius.ca/">
      <img src="{{ "/images/genius_logo.png" | prepend: site.baseurl }}" alt="The Genius Web Media">
  </a>
  <a href="http://www.paciellogroup.com">
      <img src="{{ "/images/tpg_logo.jpg" | prepend: site.baseurl }}" alt="The Paciello Group">
  </a>

</footer>
