<footer id="sponsors">
  <h2 style="text-align: center;">"AAA" level Event Sponsors:</h2>
 <a href="http://simplyaccessible.com/" class="aa-sponsor">
      <img src="{{ "/images/sa-logo.png" | prepend: site.baseurl }}" alt="Simply Accessible" width="162" height="104">
  </a>
 
  <h2 style="text-align: center;">"AA" level Event Sponsors:</h2>
  <a href="http://www.ami.ca/" class="aa-sponsor">
      <img src="{{ "/images/ami_logo.png" | prepend: site.baseurl }}" alt="AMI" width="250" height="64">
  </a>
  <a href="http://www.github.com/" class="aa-sponsor">
      <img src="{{ "/images/GitHub_Logo.png" | prepend: site.baseurl }}" alt="GitHub" width="250" height="103">
  </a>
  <a href="http://www.accessibilit.com/" class="aa-sponsor">
      <img src="{{ "/images/accessibil-IT_logo.png" | prepend: site.baseurl }}" alt="Accessibil-IT" width="250" height="55">
  </a>

  <h2 style="text-align: center;">"A" level Event Sponsors:</h2>

  <a href="http://www.carleton.ca/1125/" class="a-sponsor">
      <img src="{{ "/images/1125_logo.jpg" | prepend: site.baseurl }}" alt="1125@Carleton" width="150" height="76">
  </a>
  <a href="http://openconcept.ca/" class="a-sponsor">
      <img src="{{ "/images/oc_logo.png" | prepend: site.baseurl }}" alt="OpenConcept Consulting Inc." width="207" height="36">
  </a>
  <a href="http://thegenius.ca/" class="a-sponsor">
      <img src="{{ "/images/genius_logo.png" | prepend: site.baseurl }}" alt="The Genius Web Media" width="100" height="100">
  </a>
  <a href="http://www.paciellogroup.com" class="a-sponsor">
      <img src="{{ "/images/tpg_logo.png" | prepend: site.baseurl }}" alt="The Paciello Group" width="78" height="65">
  </a>

</footer>
