<a class="sr-only sr-only-focusable" href="#content">Skip to Main Content</a>
<header role="banner">

<nav role="navigation">
<div><a href="/"><img src="/images/logo.png" alt="A11yYOW Accessibility Camp Ottawa" class="img-responsive"></a></div>
<ul class="list-inline menu" role="menubar">
	<li><a href="/">Home</a></li>
	<li><a href="/register/">Register</a></li>
	<li><a href="/schedule/">Schedule</a></li>
	<li><a href="/presentations/">Presentations</a></li>
	<li><a href="/location/">Location</a></li>
	<li><a href="/faq/">F.A.Q.</a></li>
	<li><a href="/contact/" class="last">Contact</a></li>
	<li><a href="/2017-Edition/index.html">2017 Edition</a></li>
	<li><a href="/2014-Edition/a11yyow.ca/index.html">2014 Edition</a></li>
</ul>
    </nav>
</header>
