<div id="skip"><a href="#content">Skip to Main Content</a></div>
<header role="banner">
  <a href="/">
    <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="A11yYOW Accessibility Camp Ottawa">
  </a>
  <nav role="navigation" id="menu">
      <a href="/">Home</a>
      <a href="/register/">Register</a>
      <a href="/presentations/">Presentations</a>
      <a href="/schedule/">Schedule</a>
      <a href="/faq/">F.A.Q.</a>
      <a href="/contact/" class="last">Contact</a>
  </nav>
</header>
