<div id="skip"><a href="#content">Skip to Main Content</a></div>
<header role="banner">
  <a href="/">
    <svg width="500" height="72" focusable="false">
      <image xlink:href="{{ "/images/logo.svg" | prepend: site.baseurl }}" src="{{ "/images/logo.png" | prepend: site.baseurl }}" class="img-responsive" alt="A11yYOW Accessibility Camp Ottawa" width="500" height="72">
    </svg>
  </a>
  <nav role="navigation" id="menu">
      <a href="/">Home</a>
      <a href="/register/">Register</a>
      <a href="/panel/">Panel</a>
      <a href="/presentations/">Presentations</a>
      <a href="/schedule/">Schedule</a>
      <a href="/location/">Location</a>
      <a href="/faq/">F.A.Q.</a>
      <a href="/contact/" class="last">Contact</a>
  </nav>
</header>
