<a class="sr-only sr-only-focusable" href="#content">Skip to Main Content</a>
<header role="banner">
    <a href="/">
        <svg style="width: 100%; height: auto;" focusable="false">
            <image xlink:href="{{ " /images/logo.svg " | prepend: site.baseurl }}" src="{{ " /images/logo.png " | prepend: site.baseurl }}" class="img-responsive" alt="A11yYOW Accessibility Camp Ottawa" width="500" height="72">
        </svg>
    </a>
    <nav role="navigation">
        <ul class="list-inline menu" role="menubar">
<li><a href="/2014/">Home 2014</a></li>
<li><a href="/2014/register/">Register</a></li>
<li><a href="/2014/panel/">Panel</a></li>
<li><a href="/2014/presentations/">Presentations</a></li>
<li><a href="/2014/schedule/">Schedule</a></li>
<li><a href="/2014/location/">Location</a></li>
<li><a href="/2014/faq/">F.A.Q.</a></li>
<li><a href="/2014/contact/">Contact</a></li>
<li><a href="/" class="last">Current Edition</a></li>

        </ul>
    </nav>
</header>
